{% extends "core/base.html" %}
{% block title %}<h1><a href="{% url 'blogs:blog_list' %}">Blogs' List</a></h1>{% endblock %}

{% block content %}

    <div>

        <div><h2>{{ object.title }}</h2></div>
        <div>{{ object.description }}</div>
        <div>Owner: {{ object.author }}</div>
        <div>Created at: {{ object.created_at }}</div>
    </div>
    {% if object.post_set.all %}
        <div>
            <h2>Posts</h2>
            {% for post in object.post_set.all %}
                <i><a href="{% url 'blogs:postDetail' pk=post.id %}">{{ post.title }}</a></i>
                <i>{{ post.content }}</i>
                {% if post.author == user %}
                <div><a href="{% url 'blogs:editpost' pk=post.id %}">Edit this post</a><div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
