{% extends "core/base.html" %}
{% block title %}<h1><a href="{% url 'blogs:blogDetail' pk=post.blog.id %}">Return to blog</a></h1>{% endblock %}

{% block content %}

    <div>
        <div><h1>{{ post.title }}</h1></div>
        <div>{{ post.content }}</div>
        <div>Author: {{ post.author }}</div>
        <div>Created at: {{ post.created_at }}</div>
    </div>
    <div>
        <h2>Comments</h2>
        {% for comment in post.comment_set.all %}
            <div>
                <div><i><b>{{ comment.author }}</b></i></div>
                <div><i>{{ comment.content }}</i></div>
            </div>
        {% endfor %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'blogs:postDetail' pk=post.id %}">
        {% csrf_token %}
        {{ form.as_ul }}
    <input type="submit" value="Send">
    </form>
    {% endif %}
    </div>

{% endblock %}
